<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Products</h3>
<p>
  <a th:href="@{/product/create}">
    Add new Products
  </a>
</p>

<table id = "customers">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product,rowStat : ${products}">
    <td th:text="${rowStat.count}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td><a th:href="@{/cart/__${product.id}__}">Add to cart</a></td>
  </tr>
  </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>