<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
<p>
  <a href="/shop">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
  <table border="1">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <tr th:each="product: ${cart.shoppingCart}">
      <td th:text="${product.getKey().name}"></td>
      <td>
        <a id="decrease_button" th:text="${'-'}"></a>
        <span th:text="${product.getValue()}"></span>
        <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
           th:text="${'+'}"></a>
      </td>
      <td th:text="${product.getKey().price}"></td>
    </tr>
  </table>
</form>
</body>
</html>