<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Ứng dụng quản lý khách hàng</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../css/datatables-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../css/datatables-responsive/css/responsive.bootstrap4.css">
    <link rel="stylesheet" href="../../css/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../../css/adminlte.css">
</head>
<body>
<footer th:fragment="footer">
  &copy; 2021 CodeGym
</footer>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.bundle.js"></script>
<script src="../../js/datatables/jquery.dataTables.js"></script>
<script src="../../css/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="../../css/datatables-responsive/js/dataTables.responsive.js"></script>
<script src="../../css/datatables-responsive/js/responsive.bootstrap4.js"></script>
<script src="../../css/datatables-buttons/js/buttons.bootstrap4.js"></script>
<script src="../../css/datatables-buttons/js/dataTables.buttons.js"></script>
<script src="../../js/jszip/jszip.min.js"></script>
<script src="../../js/pdfmake/pdfmake.js"></script>
<script src="../../css/datatables-buttons/js/buttons.html5.js"></script>
<script src="../../css/datatables-buttons/js/buttons.print.js"></script>
<script src="../../css/datatables-buttons/js/buttons.colVis.js"></script>
<script src="../../js/adminlte.js"></script>
<script src="../../js/demo.js"></script>
<script>
    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>